{% extends 'base.html' %}  


{% block auth %}  

<body>

    <div class="container my-5">
        <h1>{{ user.username }}</h1>

        <div class="row my-5">
            <div class="col-lg-6">
                <h3>My board list</h3>
                <div class="row">
                    {% for i in myb %}  
                        {% if user.username == i.writer %} 
                        <div class="col-lg-6">
                            <div class="card my-3" style="width: 18rem; background-color: rgba(245, 245, 245, 0.211);">
                                <img src="{{ i.picture.url }}" class="card-img-top">
                                <div class="card-body">
                                    <p class="card-text">{{ i.pubdate }}</p>
                                    <p class="card-text">{{ i.summary }}</p>
                                    <div class="text-end">
                                        <a href="{% url 'board:detail' i.id %}" class="btn btn-outline-light">Go!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <h3>My Scrap</h3>
                    <table class="table table-hover my-5" style="color:whitesmoke;">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Comment</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for i in scrap %}
                                {% if request.user.username == i.user.username %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ i.comment }}</td>
                                    <td style="text-align: right;"><a href="/boarddetail/{{i.site_url}}"><button class="btn btn-outline-light">Go</button></a></td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>

                      </table>
                </div>
                <div>
                    <h3>Memo ;)</h3>
                        <div class="text-end">
                            <a href="{% url 'mypage:memoadd' %}"><button class="btn btn-outline-light">+add</button></a>
                        </div>
                        <table class="table table-hover my-5" style="color:whitesmoke;">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Memo</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for i in memo %}
                                    {% if request.user == i.user %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'mypage:memodetail' i.id %}">{{ i.subject }}</a></td>
                                        <td style="text-align: right;"><button class="btn btn-outline-warning">☆</button></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>

                        </table>
                </div>
            </div>
        </div>


    </div>


</body>

<style>
    body{
        color:whitesmoke;
    }

    a{
        text-decoration: none;
        color:whitesmoke;
    }
</style>

{% endblock %}  