{% extends 'base.html' %}  

{% block auth %}  

<body style="color:rgba(245, 245, 245, 0.631)">

    <div class="container my-5">
        <div class="my-5">
            <h1>Shell we vote together?</h1>
        </div>
        <div class="text-end mb-5">
            <a href="{% url 'vote:create' %}"><button class="btn btn-light">+add</button></a>
        </div>
    <div class="row">
        {% for i in topic %}
        <div class="col-lg-6 my-3">
            <div class="card" style="background-color: rgba(0, 0, 0, 0.364); border-width: 1px; border-color: whitesmoke;">
                <h5 class="card-header">Topic by. {{ i.writer }}</h5>
                <div class="card-body">
                <h5 class="card-title"># {{ i.subject }}</h5>
                <p class="card-text">{{ i.summary }}</p>
                <div class="text-end">
                    <a href="{% url 'vote:detail' i.id %}" class="btn btn-outline-light">Join?</a>
                    {% if user.username == i.writer %}<a href="{% url 'vote:delete' i.id %}" class="btn btn-outline-danger">Delete?</a>{% endif %}
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    </div>

</body>

{% endblock %}  

